h1 {
    text-align: center;
}

.body_medium {
    font-size: 20px;
    font-weight: normal;
}

.title_large {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 5px;
    text-align: center;
}

.photo img {
    height: 255px;
    width: 200px;
    border-radius: 25% 25% 25% 25%;
}

.surface {
    box-shadow: 4px 4px 40px 4px rgba(99, 94, 94, 0.2);
    padding: 24px;
    border-radius: 24px;
}

.contacts {
    padding: 12px;
}

.code {
    padding: 12px;
}

.code_example {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.intro {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv_section {
    margin: 4px 0px 4px 0px;
    padding: 12px 0px 4px 24px;
    box-shadow: 0px 0px 1px 0px rgba(64, 65, 68, 0.2);
    border-radius: 0px;
    /* transition: box-shadow, margin, border-radius 1.5s ease-out; */
    transition: all 1s ease-out;
}

.cv_section:hover {
    margin: 4px 0px 8px 8px;
    background-color: #E9EBF8;
    border-radius: 24px;
    box-shadow: -4px -4px 12px 2px rgba(64, 65, 68, 0.2);
}

.intro p {
    margin: 12px;
}

.skills {
    padding: 12px;
    display: flex;
    justify-content: center;
}

.skills h2 {
    text-align: center;
}

.skills table {
    width: 100%;
    border-collapse: collapse;
}

.skills th,
.skills td {
    padding: 8px;
    text-align: left;
}

.skills th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 4px;
}

.skills tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    margin: 8px;
    text-align: center;
}